[Unit]
Description=Daily Report Telegram Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/Telegram_Bot_Daily_Task
ExecStart=/home/ubuntu/Telegram_Bot_Daily_Task/.venv/bin/python app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
